html {
color:#eee;
}
body {
background-color:#141d26;
}
#header {
color:#FFFFFF;
background-color:#243447;
box-shadow:0 1px 1px rgba(0,0,0,0.26);
}
#header .header_nav_wrap .header_left_box ul.header_nav_list li.header_nav_item a {
color:#eee;
border-top:0px solid transparent;
border-bottom:0px solid #189EFC;
}
#main {
background-color:#243447;
}
#main.dark {
border-top:0;
}
#main .article_wrap .pageheading {
color:#FFFFFF;
}
.status_textarea {
background-color:#132030;
border-color:#000000;
color:#FFFFFF;
}
